@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

.homePage{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Oleo Script', cursive;
}
.homePage_Logobody{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.homePage_Logo{
    height: 150px;
    width: 160px;
}
.homePage_FirstName{
    margin-left: 15px;
    color: #E7BAE9;
    font-weight: 400;
}
.homePage_LastName{
    margin-left: 15px;
    font-weight: 400;
}
.homePage_FullName{
    display: flex;
    justify-content: center;
    font-size: 28px;
}

.homePage_TitleName{
    margin-left: 15px;
    color: #da7ddf65;
    font-weight: 400;
}
.homePage_TitleNameOne{
    margin-left: 15px;
    font-weight: 400;
    color: #0000005d;
}
.homePage_FullTitle{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: -4.75rem;
}
.homePage_Veteran{
    display: flex;
    justify-content: center;
    font-size: 17px;
    color: #0000007e;
    font-weight: 400;
    margin-top: -2.5rem;
    margin-left: 15px;
    margin-bottom: 7.4rem;
}
/* 
@media only screen and (min-device-width: 800px)  {
    .homePage{
        height: 100%;
        width: 100%;
        background-image: url(../images/portfoliobackground.jpg);
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .welcome{
        color: honeydew;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-bottom: -2rem;
    }
    .kayleePic{
        height: 11rem;
        width: 8.5rem;
        background-position: center;
        background-size: 93%;
        border-radius: 50%;
        border: 5px solid rgb(214, 21, 182);
    }
    .kayleeName{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 2rem;
        color: honeydew;
    }
    .kaylee{
        margin-bottom: -.5rem;
        margin-top: .5rem;
        margin-left: 1rem;
    }
    
    .myProjects{
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      width: 50%;
      padding-left: 10px;
    }
    .myProjects::-webkit-scrollbar {
      height: .5rem;
    }
       
    .myProjects::-webkit-scrollbar-track {
       box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    .myProjects::-webkit-scrollbar-thumb {
      background-color:  rgb(110, 26, 96);
      outline: 1px solid slategrey;
    }
    
    .myProjects .project {
      height: 200px;
      min-width: 120px;
      max-width: 120px;
      font-size: 10px;
      background-size: cover;
      background-position: top;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px; 
    }
    
    #project1{
      background-image: url(../images/outpost.png);
    }
    
    #project2{
      background-image: url(../images/pokecardex.png);
    }
    
    #project3{
        background-image: url(../images/avatar.png);
      }
    
    #project4{
      background-image: url(../images/github.png);
    }
    .traits{
        border: rgb(214, 21, 182) 5px solid;
        margin-top: 2.5rem;
    }
    
    .projectTitleBody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: honeydew;
        margin-top: 1rem;
        margin-bottom: 4.5rem;
    }
    
    .projectTitle{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        margin-bottom: -.75rem;
        margin-right: 13rem;
        color: honeydew;
        font-size: .75rem;
    }
    
    .traits1{
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
    }
    
    .trait{
        height: 3rem;
        width: 3rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/axios.png);
    }
    .trait1{
        height: 3rem;
        width: 3rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/react.png);
    }
    .trait2{
        height: 3rem;
        width: 3rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/css2.jpg);
    }
    .trait3{
        height: 3rem;
        width: 3rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/js.png);
    }
    .trait4{
        height: 3rem;
        width: 3rem;
        background-size: cover;
        border-radius: 50%;
        background-position: center;
        background-image: url(../images/mern.png);
    }
    .trait5{
        height: 3rem;
        width: 3rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/html.png);
    }
    .trait6{
        height: 3rem;
        width: 3rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/wyncode.png);
    }}

@media only screen and (min-device-width: 1000px)  {
    .welcome{
        color: honeydew;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }
    .kayleePic{
        height: 18rem;
        width: 12rem;
        background-position: center;
        background-size: 93%;
        border-radius: 50%;
        border: 5px solid rgb(214, 21, 182);
    }
    .kayleeName{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        color: honeydew;
        font-size: 1.25rem;
    }
    .kaylee{
        margin-bottom: -1rem;
    }
    
    .myProjects{
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      width: 50%;
      margin-bottom: 2rem;
      padding-left: 10px;
      cursor: pointer;
    }
    
    .myProjects .project {
      height: 225px;
      min-width: 150px;
      max-width: 150px;
      margin: 3px;
      font-size: 10px;
      background-size: cover;
      background-position: top;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
   
    .traits{
        margin-top: 2rem;
    }
    
    .projectTitleBody{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: honeydew;
    }
    
    .projectTitle{
        margin-bottom: -.5rem;
        margin-right: 36rem;
        color: rgb(214, 21, 182);
        border-radius: 12px;
    }
    
    .HomeBody{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 20rem;
        margin-top: -1rem;
    }
    
    .traits1{
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.75rem;
    }
    
    .trait{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/axios.png);
    }
    .trait1{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/react.png);
    }
    .trait2{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/css2.jpg);
    }
    .trait3{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/js.png);
    }
    .trait4{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-position: center;
        background-image: url(../images/mern.png);
    }
    .trait5{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/html.png);
    }
    .trait6{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/wyncode.png);
    }
}

@media only screen and (min-width: 1224px) {
    .welcome{
        color: honeydew;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }
    .kayleePic{
        height: 22rem;
        width: 17rem;
        background-position: center;
        background-size: 93%;
        border-radius: 50%;
        border: 5px solid rgb(214, 21, 182);
    }
    .kayleeName{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        color: honeydew;
        font-size: 1.5rem;
    }
    .kaylee{
        margin-bottom: -1rem;
    }
    
    .myProjects{
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      width: 50%;
      margin-bottom: 2rem;
      padding-left: 10px;
      cursor: pointer;
    }
    
    .myProjects .project {
      height: 325px;
      min-width: 200px;
      max-width: 200px;
      margin: 3px;
      font-size: 10px;
      background-size: cover;
      background-position: top;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
   
    .traits{
        margin-top: 2rem;
    }
    
    .projectTitleBody{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: honeydew;
    }
    
    .projectTitle{
        margin-bottom: -.5rem;
        margin-right: 36rem;
        color: rgb(214, 21, 182);
        border-radius: 12px;
    }
    
    .HomeBody{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 20rem;
        margin-top: -1rem;
    }
    
    .traits1{
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.75rem;
    }
    
    .trait{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/axios.png);
    }
    .trait1{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/react.png);
    }
    .trait2{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/css2.jpg);
    }
    .trait3{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/js.png);
    }
    .trait4{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-position: center;
        background-image: url(../images/mern.png);
    }
    .trait5{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/html.png);
    }
    .trait6{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/wyncode.png);
    }
}

@media only screen and (min-width: 1824px) {
    .homePage{
        height: 100vh;
        width: 100vw;
        background-image: url(../images/portfoliobackground.jpg);
        overflow-x: hidden;
    }
    .welcome{
        color: honeydew;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }
    .kayleePic{
        height: 22rem;
        width: 17rem;
        background-position: center;
        background-size: 93%;
        border-radius: 50%;
        border: 5px solid rgb(214, 21, 182);
    }
    .kayleeName{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        color: honeydew;
        font-size: 1.5rem;
    }
    .kaylee{
        margin-bottom: -1rem;
    }
    
    .myProjects{
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      width: 50%;
      margin-bottom: 2rem;
      padding-left: 10px;
      cursor: pointer;
    }
    
    .myProjects .project {
      height: 325px;
      min-width: 200px;
      max-width: 200px;
      margin: 3px;
      font-size: 10px;
      background-size: cover;
      background-position: top;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
   
    .traits{
        margin-top: 2rem;
    }
    
    .projectTitleBody{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: honeydew;
    }
    
    .projectTitle{
        margin-bottom: -.5rem;
        color: honeydew;
        border-radius: 12px;
    }
    
    .HomeBody{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 20rem;
        margin-top: -1rem;
    }
    
    .traits1{
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.75rem;
    }
    
    .trait{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/axios.png);
    }
    .trait1{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/react.png);
    }
    .trait2{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/css2.jpg);
    }
    .trait3{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/js.png);
    }
    .trait4{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-position: center;
        background-image: url(../images/mern.png);
    }
    .trait5{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/html.png);
    }
    .trait6{
        height: 5rem;
        width: 5rem;
        background-size: cover;
        border-radius: 50%;
        background-image: url(../images/wyncode.png);
    }}     */
